<section class="footer">
  <span>Dev. Pedro Henrique</span>
</section>
<section class="redes">
  <a target="_blank" rel="noopener noreferrer" href="https://www.google.com"><img src="./assets/icons-rede/google.png" alt="google" width="18" height="18"></a>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/PedroPog"><img src="./assets/icons-rede/github.png" alt="Github" width="18" height="18"></a>
  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/pedro-henrique-vieira-de-freitas-66111515b/"><img src="./assets/icons-rede/linkedin.png" alt="Linkedin" width="18" height="18"></a>
</section>
