@if(onMenu()){
  <section id="menu" class="menus">
    <button mat-icon-button (click)="onSubmit()">
      <mat-icon>close</mat-icon>
    </button>
    <span (click)="onSubmit()" routerLink="/home" >Home</span>
    <span (click)="onSubmit()" routerLink="/contatc" >Contato</span>
    <span (click)="onSubmit()" routerLink="/support" >Suporte</span>
  </section>
}
<components-toolbar
[title]="Titulo"
(submit)="onSubmit()"
></components-toolbar>
<section class="body-section">
  <router-outlet />
</section>
<components-footer></components-footer>

