@import './color-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
  display: flex;
}
.none{
  display: none;
}
*{
  font-family: "Galada", cursive;
  -webkit-user-select: none;
    user-select: none;
}
